body {
  font-family: 'Courier New', Courier, monospace;
  background-color: aquamarine;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  color:rgb(3, 0, 0)
}

/* .grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:100px 100px 100px 100px 100px 100px;
  grid-gap: 3rem;
  padding: 20px;
  width: 1200px;
  height: auto;

}

.grid-child1 {
  color: rgb(251, 215, 8);
  background-color: rgb(217, 23, 127);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}
.b1{
  grid-row:1/3;
}
.b2{
  grid-row: 1/4;
  grid-column: 2/3;
}
.b3{
  grid-row: 1/5;
  grid-column: 3/4;
}
.b4{
  grid-row: 1/4;
  grid-column: 2/2;
}
.b5{
 grid-column: 1/4;
}
.grid2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100px 70px 100px;
  grid-gap: 3rem;
}

.grid-child2 {
  color: blue;
  background-color: rgb(246, 106, 206);
  font-weight: 900;
  align-items: center;
  justify-content: center;
  display: flex;
}
.grid3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:200px 200px 200px;
  grid-column-gap:3rem;
  grid-gap: 1rem;
}

.grid-child3{
  color:brown;
  background-color: rgb(240, 46, 46);
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box1{
  grid-row:1/3;
  grid-column: 1/3;
} */

/* .grid{
  color:blue;
  background-color: red;
}
.Grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 100px 100px 100px 100px;
  grid-gap: 2rem;
  grid-area: span;
}
.grid1{
  grid-column: 1/3;
}
.grid3{
  grid-column: 1/4;
}
.grid5{
  grid-column: 2/4;
}
.grid4{

} */




/* Media query*/



/* .container{
  background-color: blueviolet;
  width: 1200px;
  height: 200px;
}
@media (max-width:500px){
  body{
    background-color: rgb(77, 226, 40);
  }
}
@media (max-width:500px){
  .container{
    background-color: rgb(228, 19, 158);
  }
}
@media(min-width:600px) {
  .container{
    width: 300px;
    height:300px;
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
} */




/* .container{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}
.md{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 66, 241);
  background-color: crimson;
  font-size: 50px;
  
}
.md1{
  grid-column: 1/3;
}
.md3{
  grid-column: 1/4;
}
.md5{
  grid-column: 2/4;
}
.md4{
  grid-row:3/5;
}

@media (max-width:500px) {
  .container{
    display:grid;
    grid-template-columns: 200px;
  }
  .md1{
    grid-column: 1/4;
  }
  .md2{
    grid-column: 1/4;
  }
  .md4{
    grid-column: 1/4;
  }
  .md3{
    grid-column: 1/4;
  }
  .md5{
    grid-column:1/4;
  }
  .md6{
    grid-column:1/4;
  }
} */



/* .flex{
  width: 100px;
  height: 100px;
  color:blue;
  background-color: blueviolet;
  padding: 10px;
  border: 2px solid rgb(236, 234, 234);
  display: flex;
  align-items:center;
  justify-content: center;
}
.container{
  display: flex;
  align-items:stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.flex1{
  width: 100px;
  height: 100px;
  background-color: rgb(199, 25, 25);
}
.flex2{
  width: 150px;
  height: 150px;
  background-color: rgb(16, 225, 33);
}
.flex3{
  width: 100px;
  height: 100px;
  background-color: black;
}
.flex4{
  width: 200px;
  height: 200px;
  background-color: rgb(224, 142, 142);
} */


/* .container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(9, 37, 46);
  width: 1000px;
  height: 500px;
  align-items:flex-end;
  justify-content: flex-end;
  
}
.flex{
  width: 200px;
  height: 200px;
  border: 2px solid white;
  display: flex;
  align-items:center;
  justify-content:center;
}
.flex1{
  background-color: black;
}
.flex2{
  background-color: rgb(245, 14, 14);
}
.flex3{
  background-color: rgb(10, 225, 14);
}
.flex4{
  background-color: rgb(58, 8, 241);
}
.flex5{
  background-color: bisque;
}
.flex6{
  background-color: rgb(246, 5, 242);
}
.flex7{
  background-color: rgb(248, 221, 14);
}
.flex8{
  background-color: rgb(3, 244, 47);
}




@media (max-width:500px){
.container{
 flex-direction: row;
  
}
.flex{
  width: 500px;
  height: 500px;
}
} */



/* .container{
  width: 1200px;
  height: auto;
  background-color: rgb(255, 255, 255);
}
.header{
  width: 1200px;
  height: 200px;
  background-color: yellow;
}
.left{
  width: 200px;
  height: 1000px;
  background-color: blue;
}
.body{
  width:800px;
  height: 1000px;
  background-color:  rgb(142, 65, 10);
}
.right{
  width: 200px;
  height: 1000px;
  background-color: blue;
  padding: 2px;
}
.footer{
  width: 1200px;
  height: 200px;
  background-color: darkorchid;
}
.main{
  display: flex;
}
@media (max-width:500px) {
  .container{
    width: 500px;
    height: auto;
    background-color: rgb(255, 255, 255);
  }
  .header{
    width: 400px;
    height: 200px;
    background-color: yellow;
  }
 
  .footer{
    width: 400px;
    height: 200px;
    background-color: black;
  }
  .main{
    flex-direction: column;
  }
  .left{
    width: 400px;
    height: 1000px;
    background-color: blue;
  }
  .right{
    width: 400px;
    height: 1000px;
    background-color: blue;
  }
  .body{
    width: 400px;
    height: 1000px;
    background-color: rgb(142, 65, 10);
  }
} */




/* @media (max-width:500px) {
.header{
width: 100px;
height: 200px;
}
.left{
  width: 50px;
  height: 500;
  background-color: blue;
}
.right{
  width: 50px;
  height:500;
  background-color: blue;
}
.body{
  width: 100px;
  height: 500px;
}
.footer{
  width: 100px;
  height: 200px;
}
} */